<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643567428274-b57fpfh3m1sgcitkob65p410g6k6qhog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643567428274-b57fpfh3m1sgcitkob65p410g6k6qhog</string>
	<key>API_KEY</key>
	<string>AIzaSyDysQroAoxr32kgsXfEmaEZma_Qw5hx-Cg</string>
	<key>GCM_SENDER_ID</key>
	<string>643567428274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jumpq.jumpq</string>
	<key>PROJECT_ID</key>
	<string>jumpq-92074</string>
	<key>STORAGE_BUCKET</key>
	<string>jumpq-92074.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643567428274:ios:b3a1d7df75fbe710a79fab</string>
</dict>
</plist>